
// font-family: 'Montserrat', sans-serif;
// 'Lato', sans-serif;
// font-family: 'Playfair Display', serif;


// light grey
// #E5E5E5;

//Potential Theme colors
// #FF006C
//Grey #A9A9A9
//Dark Grey #35303F

//Home section background color
// #222222

// About section background color
// #FDFDFD

//Portfolio section background colors
// #FAE2E3
// #CFEEF2
// #FDF3ED
// #E0C4D2

//computer colors
// #CEC2B2
// #638084
// #9A5365
// #C4C3C1
// #5F8B7C
// #DC896B
// #7595AA
// #3498DB


//FONTS

$headerFont: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$playfair:'Playfair Display', serif;
$playfairSC: 'Playfair Display SC', serif;

$backgroundColor: #FFFFFF;
$backgroundGrey: #222222;
$darkGrey: #35303F;
$lightGrey: #E5E5E5;
$anotherGrey: #848289;
$white: #FFFFFF;
// $highlightColor: #FF006C;
$highlightColor: #4D748E;
$linkColor: #716c7b;